<h1>
  Hello</h1>
<input class="p-1" type="text " name="username " value="user " [(ngModel)]="username " placeholder="Username here ">
<button class="btn btn-primary m-2" (click)="setUser() " [disabled]="(!username) || (username==user) ">Submit</button>
<button class="btn btn-danger " (click)="resetUser() " [disabled]="!username ">Reset</button>
<div *ngIf="userList.length >= 1">
  <div *ngFor="let user of userList">
    New User
    <span class="text text-primary" [innerText]="user "></span> successfully added.
  </div>
</div>
